.loading {
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
    clear: both;
    position: relative;
}

.clickable {
    cursor: pointer;
}

.task-actions {
  min-width: 230px;
}
