<p-growl [(value)]="msgs"></p-growl>
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>project.edit</div>
                <div class="panel-body">
                    <a routerLink="/projects/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <!--<div class="form-group row">-->
                                <!--<label class="col-md-2">Company Id</label>-->
                                <!--<div class="col-md-10">-->
                                    <!--<input type="text" class="form-control" name="project-company-id" [(ngModel)]="item.company_id">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-md-2" translate>field.name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="project-name" [(ngModel)]="item.name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2" translate>field.description</label>
                                <div class="col-md-10">
                                    <textarea rows="5" class="form-control" name="project-description" [(ngModel)]="item.description"></textarea>
                                </div>
                            </div>
                            <dual-list [sort]="keepSorted" [source]="sourceUsers" [key]="key" [filter]="filter"
                                       [display]="displayUsers" [(destination)]="confirmedUsers" [format]="format" [height]="height"></dual-list>
                            <br>
                            <button type="submit" class="btn btn-primary" translate>control.update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>