<div class="change-task-panel">
  <div class="change-task-panel__inner">
    <div class="change-task-panel__left">
      <span class="change-task-panel__selected">Selected {{ selectedTimeStr }}</span>

      <button class="change-task-panel__delete" (click)="onDelete()">
        Delete time
      </button>
    </div>

    <div class="change-task-panel__right">
      <button class="change-task-panel__add"
        (click)="openModal(addTaskModal)">
        Add new task
      </button>

      <button class="change-task-panel__change"
        (click)="openModal(changeTaskModal)">
        Change project / task
      </button>

      <p-autoComplete class="change-task-panel__search" [(ngModel)]="search"
        [suggestions]="searchSuggested" field="title"
        (completeMethod)="onSearch($event)"
        (onKeyUp)="onSearchChanged($event)"
        (onSelect)="onSearchChanged($event)"
        placeholder="Search...">
      </p-autoComplete>
    </div>
  </div>
</div>

<ngx-loading [show]="isLoading">
</ngx-loading>

<ng-template #addTaskModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add new task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal__row">
      <label class="col-md-2" translate>field.project</label>

      <div class="col-md-10">
        <ng-select
          [items]="projects"
          bindLabel="name"
          bindValue="id"
          placeholder="Select project"
          (change)="newTask.project_id = $event?.id"
        >
        </ng-select>
      </div>
    </div>

    <div class="modal__row">
      <label class="col-md-2" translate>field.name</label>

      <div class="col-md-10">
        <input type="text" class="form-control" [(ngModel)]="newTask.task_name">
      </div>
    </div>

    <div class="modal__row">
      <label class="col-md-2" translate>field.description</label>

      <div class="col-md-10">
        <textarea rows="5" class="form-control modal__textarea" [(ngModel)]="newTask.description">
        </textarea>
      </div>
    </div>

    <div class="modal__row">
      <div class="col-xs-12">
        <button class="modal__submit"
          [disabled]="!newTask.project_id || !newTask.task_name || !newTask.description"
          (click)="onAddTask()">
          Add
        </button>

        <button class="modal__cancel" (click)="modalRef.hide()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #changeTaskModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Change project / task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="modal__row">
      <label class="col-md-2">Project</label>

      <div class="col-md-10">
        <ng-select [items]="projects"
          bindLabel="name" (change)="changeProject()"
          [(ngModel)]="selectedProject"></ng-select>
      </div>
    </div>

    <div class="modal__row">
      <label class="col-md-2">Task</label>

      <div class="col-md-10">
        <ng-select [items]="tasks"
          bindLabel="task_name" (change)="changeTask()"
          [(ngModel)]="selectedTask"></ng-select>
      </div>
    </div>

    <div class="modal__row">
      <div class="col-xs-12">
        <button class="modal__submit" [disabled]="!selectedTask" (click)="onChangeTask()">
          Change
        </button>

        <button class="modal__cancel" (click)="modalRef.hide()">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>
