/node_modules
/public/hot
/public/js
/public/storage
/public/images
/apidoc/*
/public/apidoc
/storage/*.key
/storage/app/backups/*
/vendor
/.idea
/.vagrant
.env
.env.testing
.env.sentry
*.log
*.zip
*.tar
*.gz
*.tgz
*.lock
!composer.lock
*-lock.json
!yarn.lock
*.phar
_ide_helper.php
.phpstorm.meta.php
config/crudgenerator.php
resources/crud-generator/
coverage/
*.sql
.DS_Store
.phpunit.result.cache
.php_cs.cache
/storage/app/uploads/screenshots
modules.local.json
cghooks.lock

/storage/framework/tmp
!/storage/framework/cache/.gitkeep
/storage/framework/cache/*
/storage/app/tmp

/storage/app/reports

Modules/*
!Modules/.gitkeep

bootstrap/cache/*
!bootstrap/cache/.gitkeep
/public/vendor/

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

composer.phar

/public/dist
/resources/frontend/app/etc/modules.local.json
/resources/frontend/app/generated

/public/mix-manifest.json
/public/mix-sri.json
/public/fonts
/public/images
/public/vendor

/public/sw.*
/public/workbox*

.git
Dockerfile

erd.svg
