APP_NAME="Cattr"
APP_ENV=local
APP_KEY=
JWT_SECRET=
APP_DEBUG=true
JSON_ERRORS=true
APP_LOG_LEVEL=error
APP_URL=http://127.0.0.1:8000

REQUEST_SIGNATURE=_CHANGE_ME_

DB_CONNECTION=mysql
DB_SOCKET=/run/mysqld/mysqld.sock
DB_HOST=localhost
DB_DATABASE=cattr
DB_USERNAME=root
DB_PASSWORD=password


BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=mail

SCREENSHOTS_STORAGE_SIZE=65536
SCREENSHOTS_WATERLINE=1024
SCREENSHOTS_ROTATION_STEP=1536
SCREENSHOTS_ROTATION_COUNT_PER_ITER=100

TRUSTED_FRONTEND_DOMAIN="http://localhost:8081"
PASSWORD_RESET_URL=
CORS_ENABLED=true

# ReCaptcha Settings
## Is it enabled?
RECAPTCHA_ENABLED=false

## Site & secret keys
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_GOOGLE_URL=

## If captcha triggered, for how long Core will request it from this client (in seconds)
RECAPTCHA_TTL=3600

## How many times client should fail the login to trigger recaptcha
RECAPTCHA_FAILED_ATTEMPTS=10

## How many times client should fail the login with captcha to be banned
RECAPTCHA_BAN_ATTEMPTS=10

## Is ban (rate limiter) enabled?
RATE_LIMITER_ENABLED=false

## Ban time (in seconds)
RATE_LIMITER_TTL=3600
