APP_KEY=
APP_DEBUG=true
APP_URL=http://127.0.0.1:8000

REQUEST_SIGNATURE=_CHANGE_ME_

DB_USERNAME=root
DB_PASSWORD=password

MAIL_SENDMAIL_PATH="/usr/sbin/sendmail -i -t"

FRONTEND_APP_URL=

# ReCaptcha Settings
## Is it enabled?
RECAPTCHA_ENABLED=false

## Site & secret keys
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_GOOGLE_URL=https://www.google.com/recaptcha/api/siteverify

## If captcha triggered, for how long Core will request it from this client (in seconds)
RECAPTCHA_TTL=3600

## How many times client should fail the login to trigger recaptcha
RECAPTCHA_FAILED_ATTEMPTS=10

## How many times client should fail the login with captcha to be banned
RECAPTCHA_BAN_ATTEMPTS=10

## Is ban (rate limiter) enabled?
RATE_LIMITER_ENABLED=false

## Ban time (in seconds)
RATE_LIMITER_TTL=3600

TELESCOPE_ENABLED=false
CLOCKWORK_ENABLE=false

VUE_APP_STORAGE_SPACE_MAX_USED=75
PUSHER_APP_KEY=cattr
PUSHER_APP_SECRET=secret
