/node_modules
/public/hot
/public/js
/public/storage
/public/images
/apidoc/*
/public/apidoc
/storage/*.key
/storage/app/backups/*
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
.env.testing
*.log
*.zip
*.tar
*.gz
*.tgz
*.lock
!composer.lock
*-lock.json
!package-lock.json
*.phar
_ide_helper.php
.phpstorm.meta.php
config/crudgenerator.php
resources/crud-generator/
coverage/
*.sql
.DS_Store
.phpunit.result.cache
