/node_modules
/public/hot
/public/js
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
.env
*.log
*.zip
*.tar
*.gz
*.tgz
*.lock
*-lock.json
*.phar
_ide_helper.php
.phpstorm.meta.php
