@import '../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.screenshot {
    position: relative;
}

.select_image {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 !important;
    transform: translate(-50%, -50%);
}

.card-img-top {
    width: 14rem;
    max-height: 100px;
}

.card-text-line {
    display: block;
}

.loading {
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
    position: relative;
}

.bottom-panel {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    background-color: #fff;
    border-top: 1px solid #d3e0e9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);

    &__inner {
        @extend .container;

        &::before,
        &::after {
            display: none;
        }

        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 1em 1em 0;
    }

    &__left,
    &__right {
        margin-bottom: 1em;

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }

    &__delete,
    &__change {
        @extend .btn, .btn-default;
    }

    &__selected {
        font-size: 1.2em;
    }

    &__selected,
    &__change {
        margin-right: 1em;
    }
}
