<div class="container-fuild">
  <div class="row" *ngFor="let block of blocks">
    <div class="col-md-10">
      <!-- items start -->
      <div class="col-md-3" *ngFor="let screenshot of block.screenshots">
        <div class="card">
          <input type="checkbox" class="select_image">
          <img class="card-img-top" src="{{ screenshot.path }}" alt="image">
          <div class="card-body">
            <p class="card-text">
              <span>{{ minutes(screenshot.created_at) }}</span>
              <span>timeInterval: {{ screenshot.time_interval_id }}</span>
            </p>
          </div>
        </div>
      </div>
      <!-- items end  -->
    </div>
    <div class="col-md-2">
      <input type="checkbox" class="select_row">
      {{ hour(block.interval) }}
    </div>
  </div>
</div>

<div class="loading" #loading>
<p class="h2">...</p>
<p class="h2">screenshots auto-loading</p>
</div>