<ng-content></ng-content>

<div [class]="'form-inline ' + mode">
  <div class="input-group">
    <span class="input-group-btn" *ngIf="mode !== 'range'">
      <button type="button" class="btn btn-default" aria-label="prev"
        (click)="selectPrevious()">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
    </span>

    <input #dateInput type="text" class="form-control" [(ngModel)]="_input"
      (click)="dateInputClick()" />

    <dp-date-picker #datePicker [config]="{ format: 'YYYY-MM-DD', firstDayOfWeek: 'mo', max: max, locale: translate.getDefaultLang() }"
        [mode]="_datePickerMode" [ngModel]="start" [displayDate]="start"
        (onChange)="datePickerChangeStart($event)" (onSelect)="datePickerSelectStart($event)">
    </dp-date-picker>

    <div class="popup" [attr.data-hidden]="!isRangePopupOpened">
      <div class="popup__buttons">
        <button class="popup__apply btn btn-default" (click)="applyChanges()" translate>control.apply</button>
        <button class="popup__today btn btn-default" (click)="today()">Today</button>
      </div>

      <dp-day-calendar #startDatePicker [config]="{ format: 'YYYY-MM-DD', firstDayOfWeek: 'mo', max: max, locale: translate.getDefaultLang(), dayBtnCssClassCallback: dayClass }"
        [ngModel]="start" [displayDate]="start"
        (onChange)="datePickerChangeStart($event)" (onSelect)="datePickerSelectStart($event)">
      </dp-day-calendar>

      <dp-day-calendar #endDatePicker [config]="{ format: 'YYYY-MM-DD', firstDayOfWeek: 'mo', max: max, locale: translate.getDefaultLang(), dayBtnCssClassCallback: dayClass }"
        [ngModel]="end" [displayDate]="end"
        (onChange)="datePickerChangeEnd($event)" (onSelect)="datePickerSelectEnd($event)">
      </dp-day-calendar>
    </div>

    <span class="input-group-btn" *ngIf="mode !== 'range'">
      <button type="button" class="btn btn-default" aria-label="next"
        (click)="selectNext()">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </span>
  </div>
</div>

<div class="buttons" role="group" (window:mouseup)="isActive = false">
  <button type="button" class="button"
    [ngClass]="{'active': activeButton === 'day' && !isActive}"
    (mousedown)="isActive = true" (click)="buttonClick('day')" translate>
    control.day
  </button>

  <button type="button" class="button"
    [ngClass]="{'active': activeButton === 'week' && !isActive}"
    (mousedown)="isActive = true" (click)="buttonClick('week')" translate>
    control.week
  </button>

  <button type="button" class="button"
    [ngClass]="{'active': activeButton === 'month' && !isActive}"
    (mousedown)="isActive = true" (click)="buttonClick('month')" translate>
    control.month
  </button>

  <button type="button" class="button"
    [ngClass]="{'active': activeButton === 'range' && !isActive}"
    (mousedown)="isActive = true" (click)="buttonClick('range')" translate>
    control.date-range
  </button>
</div>

<ng-content select="[after]"></ng-content>
