<p-growl [(value)]="msgs"></p-growl>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate [translateParams]="{name: item.name}">role.edit-users</div>
                <div class="panel-body">
                    <a routerLink="/roles/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <h1 translate>field.users</h1>
                            <dual-list [sort]="keepSorted" [source]="sourceUsers" [key]="key" [filter]="filter"
                                       [display]="displayUsers" [(destination)]="confirmedUsers" [format]="format" [height]="height"></dual-list>
                            <br>
                            <button type="submit" class="btn btn-primary" translate>control.update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>