@import '../variables.scss';

.at-progress {
    &--bar {
        width: 100%;
    }

    .icon {
        display: none;
    }
}

.at-progress-bar {
    padding-right: 0;
    margin-right: 0;

    &__inner {
        border-radius: 3px;
    }

    &__wraper {
        border-radius: 3px;
    }
}
