<div class="container">
    <div class="alert alert-success" role="alert" *ngIf="message">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="message = null"><span aria-hidden="true">&times;</span></button>
        {{ message }}
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error = null"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>

    <form (ngSubmit)="onSubmit()"  #resetForm="ngForm">
        <div class="form-group">
            <label for="login" translate>field.email</label>
            <input type="text" class="form-control" id="login" name="login" required [(ngModel)]="model.login">
        </div>

        <div class="form-group">
            <re-captcha #captcha [siteKey]="siteKey" (resolved)="captchaResolved($event)"></re-captcha>
        </div>

        <button type="submit" class="btn btn-primary" translate>reset.submit</button>
    </form>
</div>
