<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }} - {{ item.name }}</div>
                <div class="panel-body">

                    <a routerLink="/roles/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <a *ngIf="can('/roles/edit') && user.role_id != id || can('rules/full_access')"  [routerLink]="['/roles/edit', id]" title="Edit roles">
                        <button class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span translate>control.edit</span>
                        </button>
                    </a>
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th translate>field.id</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.name</th>
                                    <td> {{ item.name }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <h1 translate>field.rules</h1>
                            <dual-list [sort]="keepSorted" [source]="sourceRules" [key]="key" [filter]="filter" [disabled]="disabled"
                                       [display]="displayRules" [(destination)]="confirmedRules" [format]="format" [height]="height"></dual-list>
                            <h1 translate>field.users</h1>
                            <dual-list [sort]="keepSorted" [source]="sourceUsers" [key]="key" [filter]="filter" [disabled]="disabled"
                                       [display]="displayUsers" [(destination)]="confirmedUsers" [format]="format" [height]="height"></dual-list>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>