<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }} - {{ item.first_name }}</div>
                <div class="panel-body">

                    <a routerLink="/users/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <a [routerLink]="['/users/edit', item.id]" title="Edit user">
                        <button class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit
                        </button>
                    </a>
                    <div class="user-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th> First Name</th>
                                    <td> {{ item.first_name }}</td>
                                </tr>
                                <tr>
                                    <th>Last Name</th>
                                    <td> {{ item.last_name }}</td>
                                </tr>
                                <tr>
                                    <th> Email</th>
                                    <td> {{ item.email }}</td>
                                </tr>
                                <tr>
                                    <th> Level</th>
                                    <td> {{ item.level }}</td>
                                </tr>
                                <tr>
                                    <th> Created at</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th> Updated at</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>