@import '../../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

:host {
    position: relative;
}

.timezone,
date-selector,
date-range-selector {
    display: block;
    margin-bottom: 1em;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        width: unset;
    }
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        display: block;
        width: unset;
    }
}

.button {
    @extend .btn, .btn-default;
    flex: 1;
    margin-bottom: 1em;
}
