.timezone {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 1em;
    width: 33.333%;
}

date-selector,
date-range-selector,
.btn-group {
    display: inline-block;
}

date-selector,
date-range-selector {
    margin-right: 1em;
}
