<p-growl [(value)]="msgs"></p-growl>
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Edit Task</div>
                <div class="panel-body">
                    <a routerLink="/tasks/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-md-2">Project Id</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="task-company-id" [(ngModel)]="item.project_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="task-name" [(ngModel)]="item.task_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Description</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="task-description" [(ngModel)]="item.description">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">User Id</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="task-user-id" [(ngModel)]="item.user_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Assigned by</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="task-assigned-by" [(ngModel)]="item.assigned_by">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>