<div [class]="'form-inline ' + mode">
    <div class="input-group">
        <span class="input-group-btn">
            <button (click)="prev()" type="button" class="btn btn-default" aria-label="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </span>

        <input #dateInput type="text" class="form-control"
            [(ngModel)]="_inputDate" (click)="datePicker.api.open()" />

        <dp-date-picker #datePicker [config]="{ format: dateFormat, firstDayOfWeek: 'mo', max: max, locale: translate.getDefaultLang() }"
            [mode]="_mode" [(ngModel)]="_date" (onChange)="change($event)">
        </dp-date-picker>

        <span class="input-group-btn">
            <button (click)="next()" type="button" class="btn btn-default" aria-label="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </span>
    </div>
</div>
