<div [class]="'form-inline ' + mode">
    <div class="input-group">
        <span class="input-group-btn">
            <button (click)="prev()" type="button" class="btn btn-default" aria-label="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
        </span>

        <input #dateInput type="text" class="form-control"
            [dpDayPicker]="{ format: _dateFormat, firstDayOfWeek: 'mo', max: max }"
            [mode]="_mode" [(ngModel)]="_date" (onChange)="change($event)" />

        <p class="end_date" [innerHTML]="endDate"></p>

        <span class="input-group-btn">
            <button (click)="next()" type="button" class="btn btn-default" aria-label="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </span>
    </div>
</div>
