<div class="statistics">
    <div class="statistics__header">
        <div class="statistics__header-line">
            <view-switcher #viewSwitcher class="statistics__view-switcher">
            </view-switcher>
        </div>

        <div class="statistics__header-line">
            <div class="statistics__users">
                <ng-select #userSelect [items]="users" [loading]="usersLoading"
                    bindValue="id" bindLabel="title" [closeOnSelect]="false"
                    [multiple]="true" [(ngModel)]="selectedUserIds">
                </ng-select>
                <span class="statistics__user-count">{{ selectedUsers.length }} users selected</span>
            </div>

            <div class="statistics__buttons btn-group" role="group">
                <button type="button" (click)="exportCSV()" class="btn btn-default">Export CSV</button>
            </div>
        </div>
    </div>

    <div class="statistics__timeline">
        <ngx-loading [show]="loading"></ngx-loading>
        <span #popover="bs-popover" id="popover" [outsideClick]="true" [popover]="popoverTemplate"></span>
        <p-schedule #timeline [header]="false" [options]="timelineOptions"></p-schedule>
    </div>
</div>

<ng-template #popoverTemplate>
    <div class="statistics-popover">
        <ngx-loading [show]="popoverLoading"></ngx-loading>
        <p class="statistics-popover__line">
            <img *ngIf="popoverScreenshot !== null" class="statistics-popover__image" [attr.src]="popoverScreenshot.path" />
        </p>

        <p class="statistics-popover__line">
            <a *ngIf="popoverTask !== null" class="statistics-popover__link" [attr.href]="'tasks/show/' + popoverTask.id">{{ popoverText }}</a>
        </p>
    </div>
</ng-template>
