<div class="statistics">
    <div class="statistics__header">
        <div class="statistics__header-line">
            <div class="statistics__timezone">
                <ng2-timezone-picker
                    [(timezone)]="timezone"
                    showOffset="true"
                    placeholder="Select timezone"
                    guess="true"
                    (change)="setTimezone($event)">
                </ng2-timezone-picker>
            </div>
    
            <view-switcher class="statistics__view-switcher" (setView)="setView($event)"></view-switcher>
        </div>

        <div class="statistics__header-line">
            <div class="statistics__users">
                <ng-select #userSelect [items]="users" [loading]="loading"
                    bindValue="id" bindLabel="title" [closeOnSelect]="false"
                    [multiple]="true" [(ngModel)]="selectedUserIds"
                    (change)="selectedUsersChanged()">
                </ng-select>
                <span class="statistics__user-count">{{ selectedUserIds.length }} users selected</span>
            </div>

            <div class="statistics__buttons btn-group" role="group">
                <button type="button" (click)="exportCSV()" class="btn btn-default">Export CSV</button>
            </div>
        </div>
    </div>

    <div class="statistics__timeline">
        <ngx-loading [show]="loading"></ngx-loading>
        <p-schedule #timeline [header]="false" [options]="timelineOptions"></p-schedule>
    </div>
</div>
