@import '../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.statistics {
    &__header {
        float: right;
        margin-bottom: 1em;
    }

    &__buttons,
    &__date-wrapper,
    &__view-buttons {
        display: inline-block;
    }

    &__buttons,
    &__date-wrapper {
        margin-right: 1em;
    }

    &__timeline {
        clear: both;
    }
}

::ng-deep {
    /* Date picker styles */
    $date-picker-border-color: #ddd;

    .dp-calendar-nav-container,
    .dp-calendar-wrapper {
        border-color: $date-picker-border-color !important;
    }

    .dp-weekdays {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        border-bottom: 1px solid $date-picker-border-color !important;
    }

    .dp-calendar-weekday {
        border: 0 !important;
    }

    .dp-calendar-nav-container {
        height: 40px !important;

        button {
            @extend .btn;
            @extend .btn-default;

            padding: 3px;

            &[data-hidden="true"] {
                display: none;
            }
        }
    }

    .dp-calendar-wrapper button {
        @extend .btn;
        @extend .btn-default;

        padding: 0;
        margin: 3px;
    }

    .dp-current-day {
        @extend .btn;
        @extend .btn-default;
    }

    button.dp-calendar-day.dp-selected,
    button.dp-calendar-month.dp-selected {
        @extend .btn-primary;
    }

    .statistics__date-input_week + dp-date-picker .dp-calendar-wrapper {
        .dp-calendar-week:hover button.dp-calendar-day  {
            @extend .active;
        }

        .dp-calendar-week .dp-selected ~ button.dp-calendar-day  {
            @extend .btn-primary;
        }
    }

    /* Fullcalendar styles */
    .fc-resource-area {
        /* Resource row */
        tr[data-resource-id] {
            background: #fff;

            &.not_worked {
                background: #eee;
            }
        }

        /* Time worked data */
        td:nth-child(2) {
            text-align: right;
        }
    }

    .fc-time-area {
        /* Overrides for fullcalendar inline styles. */
        /* Set timeline row height. */
        tr[data-resource-id] > td > div {
            height: 40px !important;
        }
        /* Set events height. */
        .fc-event {
            height: 35px !important;
        }
    }

    .fc-day {
        /* Day cell progress bar styles */
        .progress-wrapper {
            position: absolute;
            text-align: center;
            background: #fff;

            &_empty {
                background: #eee;
            }
        }

        .progress, p {
            margin-bottom: 0;
        }

        .progress {
            height: 16px;

            &-bar {
                background: $brand-success;
            }
        }
    }
}
