@import '../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.timezone {
    display: block;
    margin-bottom: 1em;
    width: 100%;

    @media (min-width: $screen-sm-min) {
        width: unset;
        margin-right: 1em;
    }
}

.statistics {
    &__view-switcher {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__timeline {
        clear: both;
        position: relative;
        width: 100%;
    }
}

#clickPopover,
#hoverPopover {
    position: absolute;
}

.statistics-popover {
    position: relative;
    width: 250px;

    &_click {
        .statistics-popover__line:first-child {
            min-height: 140px;
        }
    }

    &__line {
        text-align: center;
        position: relative;
    }

    &__link:hover {
        color: $link-color;
        text-decoration: unset;
    }

    &__image {
        width: 100%;
        height: auto;
    }
}

:host ::ng-deep {
    .select2-selection {
        @extend .form-control;
        height: 36px;
    }

    /* Fullcalendar styles */
    .fc-resource-area {
        th .fc-cell-text {
            cursor: pointer;
            font-stretch: condensed;

            &.sort-asc::after {
                content: '▲';
                position: absolute;
                top: 4px;
                right: 0;
                font-size: 8px;
            }

            &.sort-desc::after {
                content: '▼';
                position: absolute;
                top: 8px;
                right: 0;
                font-size: 8px;
            }
        }

        /* Time worked header */
        th:nth-child(3) {
            font-size: 12px;
        }

        /* Resource row */
        tr[data-resource-id] {
            background: #fff;

            &.not_worked {
                background: #eee;
            }
        }

        td {
            vertical-align: middle;
        }

        /* Is working now */
        td:nth-child(1) {
            .fc-cell-content {
                position: relative;
                text-align: center;
                overflow: inherit;
                padding: 0;
            }

            .fc-cell-text {
                position: absolute;
                left: 5px;
                top: 10px;

                display: inline-block;
                line-height: 1;
                padding: 0;

                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: #ddd;

                &.is_working_now {
                    background: $brand-success;
                }
            }
        }

        /* Name data */
        td:nth-child(2) {
            .fc-cell-content {
                padding: 0 8px;
                overflow: hidden;
                line-height: 100%;
            }

            .fc-cell-text {
                padding: 0;
                font-size: 12px;
            }

            .name,
            .last-worked,
            .current-task,
            .current-proj {
                margin: 0;
                padding: 0;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-right: -6px;
            }

            .last-worked,
            .current-task,
            .current-proj {
                font-size: 10px;
            }

            .current-task,
            .current-proj {
                &, & a {
                    color: $brand-success;
                }
            }

            .current-proj {
                margin-left: .5em;
            }
        }

        /* Time worked data */
        td:nth-child(3) {
            text-align: right;
            font-size: 12px;

            .fc-cell-content {
                padding: 0 8px;
            }
        }
    }

    .fc-time-area {
        .alert-info {
            background-color: transparent;
        }

        .fc-cell-text {
            font-size: 12px;
        }

        /* Overrides for fullcalendar inline styles. */
        /* Set timeline row height. */
        tr[data-resource-id] > td > div {
            height: 35px !important;
            overflow: hidden;
        }
        /* Set events height. */
        .fc-event {
            top: 6px !important;
            height: 20px !important;
        }
    }

    .fc-timeline-event {
        border: 0;
        border-radius: 0;
        margin: 0;

        .fc-bg {
            background: transparent;
        }
    }

    .fc-day {
        /* Day cell progress bar styles */
        .progress-wrapper {
            position: absolute;
            text-align: center;
            background: #fff;
            font-size: 11px;
            height: 35px;
            padding: 1px 2px;

            &_empty {
                background: #eee;
            }
        }

        .progress, p {
            margin-bottom: 0;
        }

        .progress {
            height: 16px;

            &-bar {
                background: $brand-success;
            }
        }
    }

    /* Popover */
    .popover {
        z-index: 1010;
    }

    .popover.arrow_left .popover-arrow {
        margin: 0 !important;
        left: 2px !important;
        right: auto;
    }

    .popover.arrow_right .popover-arrow {
        margin: 0 !important;
        left: auto !important;
        right: 2px;
    }
}
