.card-img-top{
    width: 14rem;
    max-height: 100px;
}

.card-text span{
    display: block;
}

.loading{
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
}

.panel-body {
    position: relative;
    padding: 0.5em;
}

tabset {
    position: relative;
    display: block;
}

tab {
    padding-top: 1em;
}

.header-buttons {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    z-index: 1;
}

.statistics-users {
    display: block;
    margin-bottom: 1em;
    width: 100%;
}

@media (min-width: 768px) {
    .statistics-users {
        width: unset;
    }
}
