<div [class]="selectedTab === tabTeam ? 'container-fluid' : 'container'">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div *ngIf="userIsManager">
                        <tabset #tabs>
                            <tab #tabOwn heading="{{'control.own' | translate }}" (select)="changeTab($event)">
                                <dashboard-tasklist #taskList>
                                </dashboard-tasklist>

                                <dashboard-screenshotlist #screenshotList
                                    (onSelectionChanged)="changeSelection($event)">
                                </dashboard-screenshotlist>

                                <change-task-panel
                                    *ngIf="selectedIntervals.length || taskFilter"
                                    [timeIntervals]="selectedIntervals"
                                    (onFilterChanged)="filter($event)"
                                    (onIntervalsDeleted)="reload()"
                                    (onIntervalsChanged)="reload()">
                                </change-task-panel>
                            </tab>

                            <tab #tabTeam heading="{{'control.team' | translate }}" (select)="changeTab($event)">
                                <app-statistic-time #statistic
                                    (onSelectionChanged)="changeSelection($event)">
                                </app-statistic-time>

                                <change-task-panel
                                    *ngIf="(selectedIntervals.length || taskFilter)
                                        && canManageIntervals"
                                    [timeIntervals]="selectedIntervals"
                                    (onFilterChanged)="filter($event)"
                                    (onIntervalsDeleted)="reload()"
                                    (onIntervalsChanged)="reload()">
                                </change-task-panel>
                            </tab>
                        </tabset>
                    </div>

                    <div *ngIf="!userIsManager">
                        <dashboard-tasklist #taskList>
                        </dashboard-tasklist>

                        <dashboard-screenshotlist #screenshotList
                            (onSelectionChanged)="changeSelection($event)">
                        </dashboard-screenshotlist>

                        <change-task-panel
                            *ngIf="selectedIntervals.length || taskFilter"
                            [timeIntervals]="selectedIntervals"
                            (onFilterChanged)="filter($event)"
                            (onIntervalsDeleted)="reload()"
                            (onIntervalsChanged)="reload()">
                        </change-task-panel>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
