<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>navigation.dashboard</div>
                <div class="panel-body">
                    <div *ngIf="userIsManager">
                        <tabset #tabs>
                            <tab heading="Own" (select)="onTabSelect($event)">
                                <dashboard-tasklist></dashboard-tasklist>
                                <dashboard-screenshotlist></dashboard-screenshotlist>
                            </tab>

                            <tab heading="Team" (select)="onTabSelect($event)">
                                <app-statistic-time></app-statistic-time>
                            </tab>
                        </tabset>
                    </div>

                    <div *ngIf="!userIsManager">
                        <dashboard-tasklist></dashboard-tasklist>
                        <dashboard-screenshotlist></dashboard-screenshotlist>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
