<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>project.create</div>
                <div class="panel-body">
                    <a routerLink="/projects/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <!--<div class="form-group row">-->
                                <!--<label class="col-md-2">Company Id</label>-->
                                <!--<div class="col-md-10">-->
                                    <!--<input type="text" class="form-control" name="project-company-id" [(ngModel)]="item.company_id">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group row">
                                <label class="col-md-2" translate>field.name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="project-name" [(ngModel)]="item.name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.description</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" rows="5" name="project-description" [(ngModel)]="item.description"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>
                                    <span class="has-tooltip" tooltip="{{ 'field.important-title' | translate }}"
                                        translate>field.important</span>
                                </label>
                                <div class="col-md-10">
                                    <input
                                        type="checkbox"
                                        name="important"
                                        [(ngModel)]="item.important"
                                        #important="ngModel"
                                        ng-true-value="1"
                                        ng-false-value="0">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary" translate>control.create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>