@import '../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.reports {
    &__view-switcher {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 100%;
    }

    &__users,
    &__projects {
        display: block;
        margin-right: 1em;
        margin-bottom: 1em;
        width: 100%;
        position: relative;

        &[data-hidden="true"] {
            display: none;
        }

        ::ng-deep .ng-value {
            display: none;
        }

        @media (min-width: $screen-sm-min) {
            width: unset;
        }
    }

    &__user-count,
    &__projects-count {
        position: absolute;
        left: 20px;
        top: 6px;
        height: 24px;
        width: calc(100% - 2 * 20px);
        overflow: hidden;
    }

    &__report {
        clear: both;
        position: relative;
        width: 100%;
    }

    &__user,
    &__task {
        cursor: pointer;
    }

    &__user-name {
        padding-left: 2em !important;
    }

    &__task-name {
        padding-left: 4em !important;
    }

    &__user-name,
    &__task-name {
        &::before {
            content: '▶';
            vertical-align: top;
            margin-right: .5em;
            font-size: .75em;
        }

        &--expanded {
            &::before {
                content: '◢';
            }
        }
    }

    &__date-date {
        width: 100px;
    }

    &__project-time,
    &__user-time,
    &__task-time,
    &__date-time {
        width: 100px;
        text-align: right;
    }

    &__date-time {
        padding-right: 32px !important;
    }

    &__task-name,
    &__task-time,
    &__date-date,
    &__date-time {
        font-size: .8em;
    }

    &__project-progress,
    &__user-progress,
    &__task-progress {
        width: 33.333%;

        .progress {
            margin: 0;
        }
    }
}

:host ::ng-deep {
    .select2-selection {
        @extend .form-control;
        height: 36px;
    }
}
