<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>screenshot.create</div>
                <div class="panel-body">
                    <a routerLink="/screenshots/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-md-2" translate>screenshot.timeintervalid</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="screenshot-time-interval-id"
                                           [(ngModel)]="item.time_interval_id">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2" translate>control.file</label>
                                <div class="col-md-10">
                                    <input #fileInput type="file"/>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary" translate>control.create</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>