:host {
    display: block;
    position: relative;

    ::ng-deep .ng-value {
        display: none;
    }
}

.count {
    position: absolute;
    left: 20px;
    top: 6px;
    height: 24px;
    width: calc(100% - 70px);
    overflow: hidden;
}
