<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>screenshot.list</div>
                <div class="panel-body">
                    <app-users-filters *ngIf="isManager" [(userId)]="userId"></app-users-filters>
                    <br/>
                    <app-projects-filters *ngIf="isManager" [(projectId)]="projectId"></app-projects-filters>
                    <br/>

                    <div class="row" *ngFor="let group of itemsChunked">
                        <div class="col-md-2" *ngFor="let screenshot of group">
                            <div class="card">
                                <a [attr.href]="'/screenshots/show/' + screenshot.id" target="_blank">
                                    <img class="card-img-top" src="{{ screenshot.path }}"
                                        onerror="this.src='uploads/none.png'" alt="image" />
                                </a>

                                <div class="card-body">
                                    <p class="card-text">
                                        <span class="card-text-line">
                                            {{ formatTime(screenshot.time_interval?.start_at) }}
                                        </span>

                                        <span class="card-text-line" *ngIf="isManager">
                                            {{ screenshot.time_interval?.user?.full_name }}
                                        </span>

                                        <a class="card-text-line" *ngIf="screenshot.time_interval?.task"
                                            [attr.href]="'tasks/show/' + screenshot.time_interval.task.id">
                                            {{ screenshot.time_interval.task.task_name }}
                                        </a>

                                        <a class="card-text-line" *ngIf="screenshot.time_interval?.task?.project"
                                            [attr.href]="'projects/show/' + screenshot.time_interval.task.project.id">
                                            {{ screenshot.time_interval.task.project.name }}
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="loading" #loading>
                        <div *ngIf="countFail <= 3">
                            <p class="h2">...</p>
                            <p class="h2" translate>dashboard.auto-loading</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
