.card-img-top{
    width: 14rem;
    max-height: 100px;
}

.card-text span{
    display: block;
}

.loading{
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
    clear: both;
}
