<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate>screenshot.list</div>
                <div class="panel-body">
                    <app-users-filters *ngIf="isManager" [(userId)]="userId"></app-users-filters>
                    <br/>
                    <app-projects-filters *ngIf="isManager" [(projectId)]="projectId"></app-projects-filters>
                    <br/>

                    <screenshot-list [showUser]="isManager" [user_ids]="userId" [project_ids]="projectId">
                    </screenshot-list>
                </div>
            </div>
        </div>
    </div>
</div>
