<p-growl [(value)]="msgs"></p-growl>

<div class="container">
  <div class="row">
    <div class="col col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading" translate>user.invite</div>

        <div class="panel-body">
          <div class="actions">
            <a class="btn btn-warning" routerLink="/users/list" title="Back">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
              <span translate>control.back</span>
            </a>
          </div>

          <div class="alert alert-danger" role="alert" *ngIf="error">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error = null">
                <span aria-hidden="true">&times;</span>
              </button>

              {{ error }}
          </div>

          <form class="invite-form" (ngSubmit)="onSubmit()" #form="ngForm">
            <div class="form-group row">
              <label class="col-md-2" translate>field.email</label>

              <div class="col-md-10"
                [class.has-error]="emailEl?.invalid && (emailEl.dirty || emailEl.touched)"
                [class.has-success]="emailEl?.valid && (emailEl.dirty || emailEl.touched)">

                <input type="email" class="form-control" name="email"
                    [(ngModel)]="email" #emailEl="ngModel" required email>

                <span class="help-block" translate>control.required-field</span>
              </div>
            </div>

            <div *ngIf="form?.invalid && (form.dirty || form.touched)" class="alert alert-danger" role="alert">
              <p *ngIf="emailEl?.errors" translate>control.email-required</p>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form?.invalid" translate>
              control.invite-user
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
