@import '../../../../variables';

.loading {
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
    clear: both;
    position: relative;
}

.user {
    &--inactive {
        background: rgba($brand-danger, 0.15);
    }
}
