@import '../../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.form-inline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    position: relative;
}

.form-control {
    max-width: 150px;
    margin-right: 1em;
}

$date-picker-border-color: #ddd;

.popup {
    position: absolute;
    top: 100%;
    width: 544px;

    background: #fff;
    border: 1px solid $date-picker-border-color;
    padding: 1em;
    z-index: 10;

    &__buttons {
        margin-bottom: 1em;
        text-align: right;
    }

    &[data-hidden="true"] {
        display: none;
    }
}

/* Apply bootstrap styles to a datepicker */
:host ::ng-deep {
    .dp-calendar-nav-container,
    .dp-calendar-wrapper {
        border-color: $date-picker-border-color !important;
    }

    .dp-weekdays {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;

        border-bottom: 1px solid $date-picker-border-color !important;
    }

    .dp-calendar-weekday {
        border: 0 !important;
    }

    .dp-calendar-nav-container {
        height: 40px !important;

        button {
            @extend .btn;
            @extend .btn-default;

            padding: 3px;

            &[data-hidden="true"] {
                display: none;
            }
        }
    }

    .dp-calendar-day,
    .dp-calendar-month {
        @extend .btn;
        @extend .btn-default;

        &.dp-current-day {
            @extend .btn-info;
        }

        &.dp-selected,
        &.dp-current-day.dp-selected {
            @extend .btn-primary;
        }

        padding: 0;
        margin: 3px;
    }
}
