<div class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" mode="day" [(ngModel)]="_startDate"
            (onChange)="changeStart($event)" (click)="open()" />
    </div>

    <div class="form-group">
        <input type="text" class="form-control" mode="day" [(ngModel)]="_endDate"
            (onChange)="changeEnd($event)" (click)="open()" />
    </div>

    <div class="popup" [attr.data-hidden]="!isOpened">
        <div class="popup__buttons">
            <button class="popup__button btn btn-default" (click)="apply()">Apply</button>
        </div>

        <dp-day-calendar [config]="{ format: dateFormat, firstDayOfWeek: 'mo', max: max }"
            [(ngModel)]="_startDate">
        </dp-day-calendar>

        <dp-day-calendar [config]="{ format: dateFormat, firstDayOfWeek: 'mo', max: max }"
            [(ngModel)]="_endDate">
        </dp-day-calendar>
    </div>
</div>
