<p-growl [(value)]="msgs"></p-growl>
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading" translate [translateParams]="{name: item.first_name + ' ' + item.last_name}">user.edit</div>
                <div class="panel-body">
                    <a routerLink="/users/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()" #form="ngForm">
                            <div class="form-group row">
                                <label class="col-md-2" translate>field.fullname</label>
                                <div class="col-md-10"
                                    [class.has-error]="full_name?.invalid && (full_name.dirty || full_name.touched)"
                                    [class.has-success]="full_name?.valid && (full_name.dirty || full_name.touched)">
                                    <input type="text" class="form-control" name="user-full-name"
                                        [(ngModel)]="item.full_name" #full_name="ngModel" required>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.firstname</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-first-name"
                                        [(ngModel)]="item.first_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.lastname</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-last-name"
                                        [(ngModel)]="item.last_name">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.email</label>
                                <div class="col-md-10"
                                    [class.has-error]="email?.invalid && (email.dirty || email.touched)"
                                    [class.has-success]="email?.valid && (email.dirty || email.touched)">
                                    <input type="text" class="form-control" name="user-email"
                                        [(ngModel)]="item.email" #email="ngModel" required>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" name="user-password"
                                        [(ngModel)]="item.password" #password="ngModel">
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2" translate>field.user-active</label>
                                <div class="col-md-10"
                                    [class.has-error]="active?.invalid && (active.dirty || active.touched)"
                                    [class.has-success]="active?.valid && (active.dirty || active.touched)">
                                    <select class="form-control" name="user-active"
                                        [(ngModel)]="item.active" #active="ngModel" required>
                                        <option value="0" translate>control.no</option>
                                        <option value="1" translate>control.yes</option>
                                    </select>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access') && can('/roles/list')">
                                <label class="col-md-2" translate>field.role</label>
                                <div class="col-md-10"
                                    [class.has-error]="role?.invalid && (role.dirty || role.touched)"
                                    [class.has-success]="role?.valid && (role.dirty || role.touched)">
                                    <select class="form-control" name="user-role-id"
                                        [(ngModel)]="item.role_id" #role="ngModel" required>
                                        <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                                    </select>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2" translate>field.screenshots-active</label>
                                <div class="col-md-10"
                                    [class.has-error]="screenshots_active?.invalid && (screenshots_active.dirty || screenshots_active.touched)"
                                    [class.has-success]="screenshots_active?.valid && (screenshots_active.dirty || screenshots_active.touched)">
                                    <select class="form-control" name="user-screenshots-active"
                                        [(ngModel)]="item.screenshots_active" #screenshots_active="ngModel" required>
                                        <option value="0" translate>control.no</option>
                                        <option value="1" translate>control.yes</option>
                                    </select>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">
                                    <abbr title="{{ 'field.manual-time-title' | translate }}"
                                        translate>field.manual-time</abbr>
                                </label>
                                <div class="col-md-10">
                                    <select class="form-control" name="user-manual-time"
                                        [(ngModel)]="item.manual_time" #manual_time="ngModel" required>
                                        <option value="0" translate>control.no</option>
                                        <option value="1" translate>control.yes</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2" translate>field.screenshots-interval</label>
                                <div class="col-md-10"
                                    [class.has-error]="screenshots_interval?.invalid && (screenshots_interval.dirty || screenshots_interval.touched)"
                                    [class.has-success]="screenshots_interval?.valid && (screenshots_interval.dirty || screenshots_interval.touched)">
                                    <input type="text" class="form-control" name="user-screenshots-interval"
                                        [(ngModel)]="item.screenshots_interval" #screenshots_interval="ngModel" required>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2" translate>
                                    <abbr title="{{ 'field.computer-time-popup-title' | translate }}"
                                        translate>field.computer-time-popup</abbr>
                                </label>
                                <div class="col-md-10"
                                    [class.has-error]="computer_time_popup?.invalid && (computer_time_popup.dirty || computer_time_popup.touched)"
                                    [class.has-success]="computer_time_popup?.valid && (computer_time_popup.dirty || computer_time_popup.touched)">
                                    <input type="text" class="form-control" name="user-computer-time-popup"
                                        [(ngModel)]="item.computer_time_popup" #computer_time_popup="ngModel" required>
                                    <span class="help-block" translate>control.required-field</span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-2" translate>field.timezone</label>
                                <div class="col-md-10">
                                    <ng2-timezone-picker
                                            #timezone
                                            [(timezone)]="item.timezone"
                                            showOffset="true"
                                            placeholder="Select timezone"
                                            guess="true">
                                    </ng2-timezone-picker>
                                </div>
                            </div>

                            <div *ngIf="authorizedUser.role_id === 1" class="form-group row">
                                <label class="col-md-2" translate>field.projects</label>
                                <div class="col-md-10">
                                    <dual-list [source]="projects" [(destination)]="userProjects"
                                        [format]="dualListFormat" [sort]="true"
                                        key="id" [filter]="true" display="name" height="250px"></dual-list>
                                </div>
                            </div>

                            <div *ngIf="form?.invalid" class="alert alert-danger" role="alert">
                                <p *ngIf="full_name?.errors" translate>control.fullname-required</p>
                                <p *ngIf="email?.errors" translate>control.email-required</p>
                                <p *ngIf="active?.errors" translate>control.active-required</p>
                                <p *ngIf="role?.errors" translate>control.role-id-required</p>
                                <p *ngIf="screenshots_active?.errors" translate>control.screenshots-active-required</p>
                                <p *ngIf="screenshots_interval?.errors" translate>control.screenshots-interval-required</p>
                                <p *ngIf="computer_time_popup?.errors" translate>control.computer-time-popup-required</p>
                            </div>

                            <button type="submit" class="btn btn-primary"
                                [disabled]="form?.invalid" translate>control.update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
