<p-growl [(value)]="msgs"></p-growl>
<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Edit {{item.first_name}} {{item.last_name}}</div>
                <div class="panel-body">
                    <a routerLink="/users/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <div class="create-form">
                        <form (ngSubmit)="onSubmit()">
                            <div class="form-group row">
                                <label class="col-md-2">First Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-company-id" [(ngModel)]="item.first_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Last Name</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-name" [(ngModel)]="item.last_name">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Email</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-email" [(ngModel)]="item.email">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">URL</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-url" [(ngModel)]="item.url">
                                </div>
                            </div>
                            <!--<div class="form-group row" >-->
                                <!--<label class="col-md-2">Company Id</label>-->
                                <!--<div class="col-md-10">-->
                                    <!--<input type="text" class="form-control" name="user-company_id" [(ngModel)]="item.company_id">-->
                                <!--</div>-->
                            <!--</div>-->
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Level</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-level" [(ngModel)]="item.level">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Payroll Access</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-payroll-access" [(ngModel)]="item.payroll_access">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Billing Access</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-billing-access" [(ngModel)]="item.billing_access">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Avatar</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-billing-access" [(ngModel)]="item.avatar">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Screenshots Active</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-screenshots-active" [(ngModel)]="item.screenshots_active">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Manual time</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-manual-time" [(ngModel)]="item.manual_time">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Permanent tasks</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-permanent-tasks" [(ngModel)]="item.permanent_tasks">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Computer time popup</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-computer-time-popup" [(ngModel)]="item.computer_time_popup">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Poor time popup</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-poor-time-popup" [(ngModel)]="item.poor_time_popup">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Blur screenshots</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-blur-screenshots" [(ngModel)]="item.blur_screenshots">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Web and app monitoring</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-web-and-app-monitoring" [(ngModel)]="item.web_and_app_monitoring">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Webcam Shots</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-webcam-shots" [(ngModel)]="item.webcam_shots">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Screenshots Interval</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-screenshots-interval" [(ngModel)]="item.screenshots_interval">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">User role value</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" name="user-user-role-value" [(ngModel)]="item.user_role_value">
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access')">
                                <label class="col-md-2">Active</label>
                                <div class="col-md-10">
                                    <ng-select
                                            [(items)]="active"
                                            (change)="OnChangeSelectActive($event)"
                                            [(ngModel)]="selectedActive"
                                            [ngModelOptions]="{standalone: true}"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group row" *ngIf="can('/users/full_access') && can('/roles/list')">
                                <label class="col-md-2">Role</label>
                                <div class="col-md-10">
                                    <ng-select
                                            [(items)]="roles"
                                            bindLabel="name"
                                            bindValue="id"
                                            (change)="OnChangeSelectRole($event)"
                                            [(ngModel)]="selectedRole"
                                            [ngModelOptions]="{standalone: true}"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-2">Password</label>
                                <div class="col-md-10">
                                    <input type="password" class="form-control" name="user-password" [(ngModel)]="item.password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>