<p class="h2">Today time use:</p>
<table class="table" *ngIf="itemsArray.length">
  <thead>
    <tr>
      <th scope="col">Task</th>
      <th scope="col">Project Id</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let task of itemsArray | paginate: { itemsPerPage: 25, currentPage: p }">
      <td>{{task.task_name}}</td>
      <td>{{task.project_id}}</td>
      <td>{{task.total_time}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!itemsArray.length" class="alert alert-info">
  No task for last 24 hours. ¯\_(ツ)_/¯
</div>