<p class="h2" translate>dashboard.usage</p>
<table class="table" *ngIf="itemsArray.length">
  <thead>
    <tr>
      <th scope="col" translate>field.task</th>
      <th scope="col" translate>field.project</th>
      <th scope="col" translate>field.time</th>
    </tr>
  </thead>
  <tbody>
    <tr  *ngFor="let task of itemsArray | paginate: { itemsPerPage: 25, currentPage: p }">
      <td>{{task.task_name}}</td>
      <td>{{task.project && task.project.name}}</td>
      <td>{{task.total_time}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="!itemsArray.length" class="alert alert-info" translate>dashboard.no-task</div>