<div class="screenshots-row row" *ngFor="let group of itemsChunked; trackBy: groupTrackFn">
    <div class="screenshot-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let screenshot of group; trackBy: screenshotTrackFn">
        <div class="card">
            <input type="checkbox" class="select-image" *ngIf="showSelection && screenshot.id"
                (change)="selected[screenshot.id] = !selected[screenshot.id]"
                [checked]="selected[screenshot.id]" />

            <app-image class="screenshot card-img-top"
                [src]="screenshot.thumbnail_path ? screenshot.thumbnail_path : (screenshot.path ? screenshot.path : 'uploads/none.png')"
                (click)="showModal(screenshot)">
            </app-image>

            <div class="card-body">
                <p class="card-text">
                    <span class="card-text-line" *ngIf="showDate">
                        {{ formatDate(screenshot.time_interval?.start_at) }}
                    </span>

                    <span class="card-text-line" *ngIf="showUser">
                        {{ screenshot.time_interval?.user?.full_name }}
                    </span>

                    <a class="card-text-line" *ngIf="showTask && screenshot.time_interval?.task" [attr.href]="'tasks/show/' + screenshot.time_interval.task.id">
                        {{ screenshot.time_interval.task.task_name }}
                    </a>

                    <a class="card-text-line" *ngIf="showProject && screenshot.time_interval?.task?.project" [attr.href]="'projects/show/' + screenshot.time_interval.task.project.id">
                        {{ screenshot.time_interval.task.project.name }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="autoload" [hidden]="countFail > 3 || isAllLoaded" class="loading" #loading>
    <ngx-loading [show]="true" [config]="{backdropBackgroundColour: 'transparent', primaryColour: '#ddd', secondaryColour: '#ddd', tertiaryColour: '#ddd'}"></ngx-loading>
</div>

<div *ngIf="!autoload" class="text-center" #loading>
    <button *ngIf="countFail <= 3 && !isAllLoaded" class="btn btn-primary" (click)="loadNext()">Load more</button>
</div>

<div class="modal fade" bsModal #screenshotModal="bs-modal" tabindex="-1" role="dialog"
    (keydown.arrowleft)="showPrev()" (keydown.arrowright)="showNext()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="modalScreenshot">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Screenshot <span *ngIf="modalScreenshot.id">#{{ modalScreenshot.id }}</span></h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="screenshotModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal-screenshot-wrapper">
                        <a [attr.href]="modalScreenshot.path" target="_blank">
                            <app-image [src]="modalScreenshot.path" style="width: 100%;">
                            </app-image>
                        </a>
                        <button class="btn btn-primary modal-screenshot-nav-left" (click)="showPrev()">&lt;</button>
                        <button class="btn btn-primary modal-screenshot-nav-right" (click)="showNext()">&gt;</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 modal-screenshot-buttons">
                        <a class="btn btn-primary btn-sm" *ngIf="can('/screenshots/edit')"
                            [routerLink]="['/screenshots/edit', modalScreenshot.id]">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            <span translate>control.edit</span>
                        </a>

                        <button class="btn btn-danger btn-sm"
                            *ngIf="modalScreenshot.time_interval?.user_id === user.id || can('/screenshots/remove_related')"
                            (click)="delete(modalScreenshot)">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            <span translate>control.delete</span>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-borderless">
                            <tbody>
                                <tr *ngIf="modalScreenshot.time_interval">
                                    <th translate>field.user</th>
                                    <td>{{ modalScreenshot.time_interval.user.full_name }}</td>
                                </tr>

                                <tr *ngIf="modalScreenshot.time_interval">
                                    <th translate>field.task</th>
                                    <td>
                                        <a [routerLink]="['/tasks/show', modalScreenshot.time_interval.task.id]">
                                            {{ modalScreenshot.time_interval.task.task_name }}
                                        </a>
                                    </td>
                                </tr>

                                <tr>
                                    <th translate>field.created</th>
                                    <td>{{ modalScreenshot.created_at }}</td>
                                </tr>

                                <tr>
                                    <th translate>field.updated</th>
                                    <td>{{ modalScreenshot.updated_at }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
