@import '../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.screenshots-row {
    display: flex;
    flex-wrap: wrap;
}

.screenshot-wrapper {
    @media (max-width: $screen-xs-min - 1) {
        width: 100%;
    }
}

.screenshot {
    cursor: pointer;
}

.screenshot-modal-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.card-img-top {
    width: 14rem;
    max-height: 100px;
}

.card-text-line {
    display: block;
}

.loading {
    width: 100%;
    height: 16rem;
    margin: 10px 0;
    text-align: center;
    clear: both;
    position: relative;
}

.modal {
    overflow-y: auto;

    .table {
        margin-bottom: 0;
    }
}

.modal-screenshot-wrapper {
    position: relative;
}

.modal-screenshot-nav-left,
.modal-screenshot-nav-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.modal-screenshot-nav-left {
    left: 20px;
}

.modal-screenshot-nav-right {
    right: 20px;
}
