<div class="screenshots-row row" *ngFor="let group of itemsChunked">
    <div class="screenshot-wrapper col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let screenshot of group">
        <div class="card">
            <img class="screenshot card-img-top"
                [attr.src]="screenshot.thumbnail_path ? screenshot.thumbnail_path : (screenshot.path ? screenshot.path : 'uploads/none.png')"
                onerror="this.src='uploads/none.png'" alt="image"
                (click)="showModal(screenshot)" />

            <div class="card-body">
                <p class="card-text">
                    <span class="card-text-line" *ngIf="showDate">
                        {{ formatTime(screenshot.time_interval?.start_at) }}
                    </span>

                    <span class="card-text-line" *ngIf="showUser">
                        {{ screenshot.time_interval?.user?.full_name }}
                    </span>

                    <a class="card-text-line" *ngIf="showTask && screenshot.time_interval?.task" [attr.href]="'tasks/show/' + screenshot.time_interval.task.id">
                        {{ screenshot.time_interval.task.task_name }}
                    </a>

                    <a class="card-text-line" *ngIf="showProject && screenshot.time_interval?.task?.project" [attr.href]="'projects/show/' + screenshot.time_interval.task.project.id">
                        {{ screenshot.time_interval.task.project.name }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

<div *ngIf="autoload" class="loading" #loading>
    <div *ngIf="countFail <= 3 && !isAllLoaded">
        <ngx-loading [show]="isLoading" [config]="{backdropBackgroundColour: 'transparent', primaryColour: '#ddd', secondaryColour: '#ddd', tertiaryColour: '#ddd'}"></ngx-loading>
    </div>
</div>

<div *ngIf="!autoload" class="text-center" #loading>
    <button *ngIf="countFail <= 3 && !isAllLoaded" class="btn btn-primary" (click)="loadNext()">Load more</button>
</div>

<div class="modal fade" bsModal #screenshotModal="bs-modal" tabindex="-1" role="dialog"
    (keydown.arrowleft)="showPrev()" (keydown.arrowright)="showNext()">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" *ngIf="modalScreenshot">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Screenshot #{{ modalScreenshot.id }}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="screenshotModal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 modal-screenshot-wrapper">
                        <a [attr.href]="modalScreenshot.path" target="_blank">
                            <img src="{{ modalScreenshot.path }}" style="width:100%;">
                        </a>
                        <button class="btn btn-primary modal-screenshot-nav-left" (click)="showPrev()">&lt;</button>
                        <button class="btn btn-primary modal-screenshot-nav-right" (click)="showNext()">&gt;</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 modal-screenshot-buttons">
                        <button class="btn btn-danger btn-sm" (click)="delete(modalScreenshot)">
                            <i aria-hidden="true" class="fa fa-pencil-square-o"></i>
                            Delete
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-borderless">
                            <tbody>
                                <tr *ngIf="modalScreenshot.time_interval">
                                    <th translate>field.user</th>
                                    <td>{{ modalScreenshot.time_interval.user.full_name }}</td>
                                </tr>

                                <tr *ngIf="modalScreenshot.time_interval">
                                    <th translate>field.task</th>
                                    <td>{{ modalScreenshot.time_interval.task.task_name }}</td>
                                </tr>

                                <tr>
                                    <th translate>field.created</th>
                                    <td>{{ modalScreenshot.created_at }}</td>
                                </tr>

                                <tr>
                                    <th translate>field.updated</th>
                                    <td>{{ modalScreenshot.updated_at }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
