<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <tabset #tabs>
                        <tab heading="{{'settings.general' | translate }}" (select)="changeTab($event)">
                            <settings-general #general>
                            </settings-general>
                        </tab>


                        <tab heading="{{'integration.redmine.title' | translate }}" (select)="changeTab($event)">
                            <settings-integration #integration>
                            </settings-integration>
                        </tab>


                        <tab heading="{{'settings.user' | translate }}" (select)="changeTab($event)">
                            <settings-user #userSettings>
                            </settings-user>
                        </tab>
                    </tabset>


                </div>
            </div>
        </div>
    </div>
</div>
