<p-growl [(value)]="msgs"></p-growl>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <tabset #tabs>
                        <tab heading="{{'settings.general' | translate }}" (select)="changeTab($event)">
                            <settings-general #general (message)="onMessage($event)">
                            </settings-general>
                        </tab>
                        
                        <tab heading="{{'settings.user' | translate }}" (select)="changeTab($event)">
                            <settings-user #userSettings (message)="onMessage($event)">
                            </settings-user>
                        </tab>

                        <tab heading="{{'integration.redmine.title' | translate }}" (select)="changeTab($event)">
                            <app-settings-integration-redmine #integrationRedmine (message)="onMessage($event)">
                            </app-settings-integration-redmine>
                        </tab>

                        <tab heading="{{'integration.gitlab.title' | translate }}" (select)="changeTab($event)">
                            <app-settings-integration-gitlab #integrationGitlab (message)="onMessage($event)">
                            </app-settings-integration-gitlab>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>
