<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }}</div>
                <div class="panel-body">

                    <a routerLink="/screenshots/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <!--<a [routerLink]="['/screenshots/edit', item.id]" title="Edit task">-->
                        <!--<button class="btn btn-primary">-->
                            <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</a>-->
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th> Time Interval Id</th>
                                    <td> {{ item.time_interval_id }}</td>
                                </tr>
                                <tr>
                                    <th> Path</th>
                                    <td> {{ item.path }}</td>
                                </tr>
                                <tr>
                                    <th> Created at</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th> Updated at</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <img src="{{ item.path }}" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>