<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }}</div>
                <div class="panel-body">
                    <a routerLink="/screenshots/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <!--<a [routerLink]="['/screenshots/edit', item.id]" title="Edit task">-->
                        <!--<button class="btn btn-primary">-->
                            <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</a>-->
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th translate>field.id</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th translate> field.user</th>
                                    <td> {{ item.time_interval && item.time_interval.user.full_name }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.task</th>
                                    <td> {{ item.time_interval && item.time_interval.task.task_name }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.created</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.updated</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <a [attr.href]="item.path" target="_blank">
                            <img src="{{ item.path }}" style="width:100%;">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>