<div class="container">
    <div class="row">
        <div class="col col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Redmine Integration</div>
                <div class="panel-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group row">
                            <label class="col-md-2">Redmine URL</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="redmine-url" [(ngModel)]="redmineUrl">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2">Redmine API key</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="redmine-api-key" [(ngModel)]="redmineApiKey">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                    <div class="synchronize-block">
                        <button class="btn btn-default" (click)="synchronizeProjects()">Synchronize Projects</button>
                        <button class="btn btn-default" (click)="synchronizeTasks()">Synchronize Tasks</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>