<div class="container">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="error = null"><span aria-hidden="true">&times;</span></button>
        {{ error }}
    </div>

    <form (ngSubmit)="onSubmit()"  #resetForm="ngForm">
        <div class="form-group">
            <label for="login" translate>field.email</label>
            <input type="text" class="form-control" id="login" name="login" required [(ngModel)]="model.login">
        </div>

        <div class="form-group">
          <label translate>field.new-password</label>
          <input type="password" class="form-control" name="password"
            [(ngModel)]="model.password" #passwordEl="ngModel" required>
        </div>

        <div class="form-group">
            <re-captcha [siteKey]="siteKey" (resolved)="captchaResolved($event)"></re-captcha>
        </div>

        <button type="submit" class="btn btn-primary" translate>reset.save</button>
    </form>
</div>
