<div class="create-form">
    <form *ngIf="item != null" (ngSubmit)="onSubmit()" #form="ngForm">
        <div class="form-group row">
            <label class="col-md-2" translate>field.fullname</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(full_name)"
                [class.has-success]="isDisplaySuccess(full_name)">
                <input type="text" class="form-control" name="user-full-name"
                    [(ngModel)]="item.full_name" #full_name="ngModel" required>
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(full_name)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.fullname-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" translate>field.firstname</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="user-first-name"
                    [(ngModel)]="item.first_name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" translate>field.lastname</label>
            <div class="col-md-10">
                <input type="text" class="form-control" name="user-last-name"
                    [(ngModel)]="item.last_name">
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" translate>field.email</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(email)"
                [class.has-success]="isDisplaySuccess(email)">
                <input type="text" class="form-control" name="user-email"
                    [(ngModel)]="item.email" #email="ngModel" required>
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(email)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.email-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" translate>field.password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" name="user-password"
                    [(ngModel)]="item.password" #password="ngModel">
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access')">
            <label class="col-md-2" translate>field.user-active</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(active)"
                [class.has-success]="isDisplaySuccess(active)">
                <input
                    type="checkbox"
                    name="user-manual-time"
                    [(ngModel)]="item.active"
                    #active="ngModel"
                    ng-true-value="1"
                    ng-false-value="0">
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(active)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.active-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access') && can('/roles/list')">
            <label class="col-md-2" translate>field.role</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(role)"
                [class.has-success]="isDisplaySuccess(role)">
                <select class="form-control" name="user-role-id"
                    [(ngModel)]="item.role_id" #role="ngModel" required>
                    <option *ngFor="let role of roles" [value]="role.id">{{ role.name }}</option>
                </select>
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(role)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.role-id-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access')">
            <label class="col-md-2" translate>field.screenshots-active</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(screenshots_active)"
                [class.has-success]="isDisplaySuccess(screenshots_active)">
                <input
                    type="checkbox"
                    name="screenshots-active"
                    [(ngModel)]="item.screenshots_active"
                    #screenshots_active="ngModel"
                    ng-true-value="1"
                    ng-false-value="0">
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(screenshots_active)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.screenshots-active-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access')">
            <label class="col-md-2">
                <abbr title="{{ 'field.manual-time-title' | translate }}"
                    translate>field.manual-time</abbr>
            </label>
            <div class="col-md-10">
                <input
                    type="checkbox"
                    name="user-manual-time"
                    [(ngModel)]="item.manual_time"
                    #manual_time="ngModel"
                    ng-true-value="1"
                    ng-false-value="0">
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access')">
            <label class="col-md-2" translate>field.screenshots-interval</label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(screenshots_interval)"
                [class.has-success]="isDisplaySuccess(screenshots_interval)">
                <input type="text" class="form-control" name="user-screenshots-interval"
                    [(ngModel)]="item.screenshots_interval" #screenshots_interval="ngModel" required>
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(screenshots_interval)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.screenshots-interval-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row" *ngIf="can('/users/full_access')">
            <label class="col-md-2" translate>
                <abbr title="{{ 'field.computer-time-popup-title' | translate }}"
                    translate>field.computer-time-popup</abbr>
            </label>
            <div class="col-md-10"
                [class.has-error]="isDisplayError(computer_time_popup)"
                [class.has-success]="isDisplaySuccess(computer_time_popup)">
                <input type="text" class="form-control" name="user-computer-time-popup"
                    [(ngModel)]="item.computer_time_popup" #computer_time_popup="ngModel" required>
                <span class="help-block" translate>control.required-field</span>
            </div>
            <div class="col-md-12">
                <div
                    *ngIf="isDisplayError(computer_time_popup)"
                    class="alert alert-danger"
                    role="alert">
                    <p translate>control.computer-time-popup-required</p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2" translate>field.timezone</label>
            <div class="col-md-10">
                <ng2-timezone-picker
                        #timezone
                        [(timezone)]="item.timezone"
                        showOffset="true"
                        placeholder="Select timezone"
                        guess="true">
                </ng2-timezone-picker>
            </div>
        </div>

        <div *ngIf="item.role_id === 1" class="form-group row">
            <label class="col-md-2" translate>field.projects</label>
            <div class="col-md-10">
                <dual-list [source]="projects" [(destination)]="userProjects"
                    [format]="dualListFormat" [sort]="true"
                    key="id" [filter]="true" display="name" height="250px"></dual-list>
            </div>
        </div>

        <button type="submit" class="btn btn-primary"
            [disabled]="form?.invalid" translate>control.update</button>
    </form>
</div>