<form (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <label class="col-md-2" translate>settings.lang</label>
        <div class="col-md-10">
            <ng-select
                [items]="languages"
                bindLabel="title"
                bindValue="code"
                placeholder="{{ 'settings.select-lang' | translate }}"
                [(ngModel)]="language"
                [ngModelOptions]="{standalone: true}"
            >
            </ng-select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" translate>control.save</button>
</form>