.tasks {
    &-grid {
        &__task,
        &__project {
            white-space: pre;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__task {
            &--inactive {
                color: #888;
                text-decoration: line-through;
            }
        }

        &__tags {
            display: flex;
            column-gap: 0.3rem;
        }
    }
}

.crud__content.crud__item-view {
    pre {
        white-space: pre-wrap;
    }
}
