<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Task Details</div>
                <div class="panel-body">
                    <a class="btn btn-warning" routerLink="/tasks/list" title="Back">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span translate>control.back</span>
                    </a>

                    <a class="btn btn-primary" [routerLink]="['/tasks/edit', item.id]" title="Edit task">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span translate>control.edit</span>
                    </a>

                    <a class="btn btn-primary" *ngIf="item.url" [attr.href]="item.url" title="View in redmine">
                        <span>View in redmine</span>
                    </a>

                    <div class="show-info">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="task-name">{{ item.task_name }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-borderless table--task-properties">
                                    <tbody>
                                        <tr>
                                            <th translate>field.id</th>
                                            <td>{{ item.id }}</td>
                                        </tr>

                                        <tr *ngIf="item.project">
                                            <th translate>field.project</th>
                                            <td>
                                                <a href="/projects/show/{{ item.project.id }}">
                                                    {{ item.project.name}}
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th translate>field.active</th>
                                            <td>{{ item.active ? 'Yes' : 'No' }}</td>
                                        </tr>

                                        <tr *ngIf="item.user">
                                            <th translate>field.user</th>
                                            <td>
                                                <a href="/users/show/{{ item.user_id }}">
                                                    {{ item.user.full_name }}
                                                </a>
                                            </td>
                                        </tr>

                                        <tr *ngIf="item.assigned">
                                            <th translate>field.assigned</th>
                                            <td>
                                                <a href="/users/show/{{ item.assigned.id }}">
                                                    {{ item.assigned.full_name }}
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-6">
                                <table class="table table-borderless table--task-properties">
                                    <tbody>
                                        <tr>
                                            <th translate>field.created</th>
                                            <td>{{ item.created_at }}</td>
                                        </tr>

                                        <tr>
                                            <th translate>field.updated</th>
                                            <td>{{ item.updated_at }}</td>
                                        </tr>

                                        <tr>
                                            <th>Total time</th>
                                            <td>{{ formatDurationString(totalTime) }}</td>
                                        </tr>

                                        <tr *ngIf="item.priority">
                                            <th translate>field.priority</th>
                                            <td>{{ item.priority.name }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="description-wrapper">
                                    <table class="table table-borderless table--task-description">
                                        <tbody>
                                            <tr>
                                                <th translate>field.description</th>
                                                <td>{{ item.description }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row activity">
                            <div class="col-sm-12">
                                <h4 class="activity__title" [hidden]="!graph.length">Activity</h4>
                                <div class="activity__graph-wrapper" #graphWrapper>
                                    <ngx-charts-bar-vertical-stacked
                                        [results]="graph"
                                        [view]="graphSize"
                                        [scheme]="colorScheme"
                                        [gradient]="false"
                                        [xAxis]="true"
                                        [yAxis]="true"
                                        [legend]="false"
                                        [showXAxisLabel]="true"
                                        [showYAxisLabel]="true"
                                        [xAxisLabel]="'Date'"
                                        [yAxisLabel]="'Time'"
                                        [yAxisTickFormatting]="formatDurationString"
                                        [hidden]="!graph.length">
                                        <ng-template #tooltipTemplate let-model="model">
                                            <p class="activity__tooltip-text">{{ model.name }}</p>
                                            <p class="activity__tooltip-text">{{ formatDurationString(model.value) }}</p>
                                        </ng-template>
                                    </ngx-charts-bar-vertical-stacked>
                                </div>
                            </div>
                        </div>

                        <accordion>
                            <accordion-group #accordionGroup class="user" *ngFor="let userInfo of users">
                                <div accordion-heading>
                                    <span class="user__name">{{ userInfo.user?.full_name }}</span>
                                    <span class="user__time">{{ formatDurationString(userInfo.time) }}</span>
                                </div>

                                <table class="screenshots table">
                                    <tbody>
                                        <ng-container *ngFor="let date of objectKeys(userInfo.perDate)">
                                            <tr class="screenshots__group"
                                                (click)="userInfo.perDate[date].expanded = !userInfo.perDate[date].expanded">
                                                <th scope="row" class="screenshots__date"
                                                    [class.screenshots__date--expanded]="userInfo.perDate[date].expanded">
                                                    {{ userInfo.perDate[date].formattedDate }}
                                                </th>

                                                <td class="screenshots__time">{{ formatDurationString(userInfo.perDate[date].time) }}</td>
                                            </tr>

                                            <tr *ngIf="userInfo.perDate[date].expanded">
                                                <td colspan="2">
                                                    <screenshot-list [min_date]="date" [max_date]="date"
                                                        [showUser]="false" [showProject]="false"
                                                        [showTask]="false" [date_output_format]="'HH:mm:ss'"
                                                        [user_ids]="[userInfo.user_id]" [task_ids]="[item.id]">
                                                    </screenshot-list>
                                                </td>
                                            </tr>
                                        </ng-container>
                                    </tbody>
                                </table>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
