<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Task Details</div>
                <div class="panel-body">
                    <a class="btn btn-warning" routerLink="/tasks/list" title="Back">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        <span translate>control.back</span>
                    </a>

                    <a class="btn btn-primary" [routerLink]="['/tasks/edit', item.id]" title="Edit task">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        <span translate>control.edit</span>
                    </a>

                    <a class="btn btn-primary" *ngIf="item.url" [attr.href]="item.url" title="View in redmine">
                        <span>View in redmine</span>
                    </a>

                    <div class="show-info">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="task-name">{{ item.task_name }}</h3>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <table class="table table-borderless table--task-properties">
                                    <tbody>
                                        <tr>
                                            <th translate>field.id</th>
                                            <td>{{ item.id }}</td>
                                        </tr>

                                        <tr *ngIf="item.project">
                                            <th translate>field.project</th>
                                            <td>
                                                <a href="/projects/show/{{ item.project.id }}">
                                                    {{ item.project.name}}
                                                </a>
                                            </td>
                                        </tr>

                                        <tr>
                                            <th translate>field.active</th>
                                            <td>{{ item.active ? 'Yes' : 'No' }}</td>
                                        </tr>

                                        <tr *ngIf="item.user">
                                            <th translate>field.user</th>
                                            <td>
                                                <a href="/users/show/{{ item.user.id }}">
                                                    {{ item.user.full_name }}
                                                </a>
                                            </td>
                                        </tr>

                                        <tr *ngIf="item.assigned">
                                            <th translate>field.assigned</th>
                                            <td>
                                                <a href="/users/show/{{ item.assigned.id }}">
                                                    {{ item.assigned.full_name }}
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="col-sm-6">
                                <table class="table table-borderless table--task-properties">
                                    <tbody>
                                        <tr>
                                            <th translate>field.created</th>
                                            <td>{{ item.created_at }}</td>
                                        </tr>

                                        <tr>
                                            <th translate>field.updated</th>
                                            <td>{{ item.updated_at }}</td>
                                        </tr>

                                        <tr>
                                            <th>Total time</th>
                                            <td>{{ formatDurationString(totalTime) }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="description-wrapper">
                                    <table class="table table-borderless table--task-description">
                                        <tbody>
                                            <tr>
                                                <th translate>field.description</th>
                                                <td>{{ item.description }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <accordion>
                            <accordion-group #accordionGroup class="user" *ngFor="let userInfo of users">
                                <div accordion-heading>
                                    <span class="user__name">{{ userInfo.user.full_name }}</span>
                                    <span class="user__time">{{ formatDurationString(userInfo.time) }}</span>
                                </div>

                                <screenshot-list [autoload]="accordionGroup.isOpen"
                                    [showUser]="false" [showProject]="false" [showTask]="false"
                                    [user_ids]="[userInfo.user.id]" [task_ids]="[item.id]"></screenshot-list>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
