@import '../../../../variables';
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.task-name {
    margin: 0 0 1em;
}

.table {
    &--task-properties {
        margin-bottom: 0;

        @media (max-width: $screen-xs-max) {
            th {
                width: 150px;
            }
        }
    }

    &--task-description {
        td {
            white-space: pre-line;
        }

        @media (max-width: $screen-xs-max) {
            th, td {
                display: block;
            }
        }
    }
}

.description-wrapper {
    width: 100%;
    overflow-x: auto;
}

.activity {
    margin-bottom: 22px;

    &__title {
        margin: 8px;
        line-height: 1.6;
        font-size: 14px;
        font-weight: bolder;
    }

    &__graph-wrapper {
        overflow-x: auto;
    }

    &__tooltip-text {
        margin: 0;
    }
}

.user__time {
    float: right;
}

.screenshots {
    &__date {
        font-weight: normal;

        &::before {
            content: '▶';
            vertical-align: top;
            margin-right: .5em;
            font-size: .75em;
        }

        &--expanded {
            &::before {
                content: '◢';
            }
        }
    }

    &__time {
        text-align: right;
    }
}
