<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }} - {{ item.task_name }}</div>
                <div class="panel-body">

                    <a routerLink="/tasks/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <a [routerLink]="['/tasks/edit', item.id]" title="Edit task">
                        <button class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            Edit
                        </button>
                    </a>
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th> Project Id</th>
                                    <td> {{ item.project_id }}</td>
                                </tr>
                                <tr>
                                    <th> Name</th>
                                    <td> {{ item.task_name }}</td>
                                </tr>
                                <tr>
                                    <th> Active</th>
                                    <td> {{ item.active }}</td>
                                </tr>
                                <tr>
                                    <th> User ID</th>
                                    <td> {{ item.user_id }}</td>
                                </tr>
                                <tr>
                                    <th> Assigned by</th>
                                    <td> {{ item.assigned_by }}</td>
                                </tr>
                                <tr>
                                    <th> URL</th>
                                    <td> {{ item.url }}</td>
                                </tr>
                                <tr>
                                    <th> Created at</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th> Updated at</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>