<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }} - {{ item.name }}</div>
                <div class="panel-body">

                    <a routerLink="/projects/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            <span translate>control.back</span>
                        </button>
                    </a>
                    <a *ngIf="can('/projects/edit')" [routerLink]="['/projects/edit', item.id]" title="Edit project">
                        <button class="btn btn-primary">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            <span translate>control.edit</span>
                        </button>
                    </a>
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th translate>field.id</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <!--<tr>-->
                                    <!--<th> Company Id</th>-->
                                    <!--<td> {{ item.company_id }}</td>-->
                                <!--</tr>-->
                                <tr>
                                    <th translate>field.name</th>
                                    <td> {{ item.name }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.description</th>
                                    <td> {{ item.description }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.created</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th translate>field.updated</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <a class="btn btn-primary" href="#" translate>project.show-details</a>

                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless table--tasks">
                                <thead>
                                    <tr (click)="onTableHeaderClick($event)">
                                        <th data-order="task" translate>project.task</th>
                                        <th data-order="lastActivity" translate>project.activity</th>
                                        <th data-order="totalTime" translate>project.total-time</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr *ngFor="let task of tasks">
                                        <th scope="row">
                                            <a [attr.href]="'tasks/show/' + task.id">{{ task.name }}</a>
                                        </th>

                                        <td>{{ formatTimeString(task.lastActivity) }}</td>
                                        <td>{{ formatDurationString(task.totalTime) }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>