<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">{{ item.id }}</div>
                <div class="panel-body">

                    <a routerLink="/time-intervals/list" title="Back">
                        <button class="btn btn-warning">
                            <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            Back
                        </button>
                    </a>
                    <!--<a [routerLink]="['/time-intervals/edit', item.id]" title="Edit time interval">-->
                        <!--<button class="btn btn-primary">-->
                            <!--<i class="fa fa-pencil-square-o" aria-hidden="true"></i>-->
                            <!--Edit-->
                        <!--</button>-->
                    <!--</a>-->
                    <div class="show-info">
                        <div class="table-responsive">
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th>ID</th>
                                    <td>{{ item.id }}</td>
                                </tr>
                                <tr>
                                    <th> Task</th>
                                    <td> {{ item.task && item.task.task_name }}</td>
                                </tr>
                                <tr>
                                    <th> User</th>
                                    <td> {{ item.user && item.user.full_name }}</td>
                                </tr>
                                <tr>
                                    <th> Start At</th>
                                    <td> {{ item.start_at }}</td>
                                </tr>
                                <tr>
                                    <th> End At</th>
                                    <td> {{ item.end_at }}</td>
                                </tr>
                                <tr>
                                    <th> Count mouse events</th>
                                    <td> {{ item.count_mouse }}</td>
                                </tr>
                                <tr>
                                    <th> Count keyboard events</th>
                                    <td> {{ item.count_keyboard }}</td>
                                </tr>
                                <tr>
                                    <th> Created at</th>
                                    <td> {{ item.created_at }}</td>
                                </tr>
                                <tr>
                                    <th> Updated at</th>
                                    <td> {{ item.updated_at }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12" *ngIf="!isEmptyObject(item.screenshots)">
                        <img *ngFor="let screenshot of item.screenshots" src="{{ screenshot.path }}" style="width:100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>